<div class="col-md-6 col-sm-12 col-xs-12">
    <div class="dc-login-container">
        <div class="dc-step-form">
            <h1 class="dc-center">{{l("ForgotPassword")}}</h1>
            <div class="dc-signup-step">
                <div class="dc-input-group">
                    <span class="dc-input-icon icon-profile"></span>
                    <input placeholder="Email Address" [(ngModel)]="model.emailAddress" class="dc-input-form" type="email" id="email">
                </div>
            </div>
            <div class="dc-check-box-block"></div>
            <div class="dc-check-box-block">
            </div>
            <div class="dc-check-box-block">
                <button class="dc-btn dc-btn-blue dc-full-width" (click)="save()">Reset Password &#x2192;</button>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="dc-check-box-block">
                        <a [routerLink]="['/account','login']">Back to login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 visible-lg visible-md">
    <div class="row dc-full-height">
        <div class="dc-sign-form-background dc-signup-bg-1 dc-full-height">
            <!--<img height="500px" src="/assets/img/signup-bg/bg-step-1.png" />-->
            <img style="height:200px" src="/assets/img/signup-bg/bg-step-1-silver.png" />
        </div>
    </div>
</div>
